[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
repeated-test = {editable = true, path = "./../repeated_test"}
pytest = "*"
sigtools = {editable = true, extras = ["test"], path = "."}
pytest-subtests = "*"

[dev-packages]

[requires]
python_version = "3.10"
